<div class="container" id="home_container">
	<div class="jumbotron text-center">
	<h1 class="display-4">Witaj kierowco</h1>
	<p class="lead">Trafiles do najbardziej elitarnej grupy kierowcow z zamilowaniem do aut. Tutaj poznasz
	wszelkie tajniki jazdy po ciasnych zakretach i spotkasz wiele milosnikow miodowania.</p>
	<hr class="my-4">
	<p>Jak V-TEC nie bierze oleju, to znaczy ze cos jest nie tak</p>
	<%= link_to "Wjezdzam!", signup_path, class: "btn btn-primary btn-lg", id: "buton" %>
	<div style="width:10%;height:0;padding-bottom:16%;padding-left:370px;position:relative;"><iframe src="https://giphy.com/embed/ajDqV8t2wInIS6LU72" width="70%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
	</div>
</div>
