<footer id="sticky-footer" class="flex-shrink-0 py-4">
	<div class="container text-center">
		<strong>Copyright &copy; <%= link_to "Firmaremonty Robson royal kebab Koluszki sp. z.o.o", "https://firmaremonty247.selino.pl/", class: "text-dark" %></strong>
	</div>
</footer>
